.all_article_box {
    display: inline-block;
    width: 350px;
    height: 280px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 3px 3px 20px #787878;
    font-family: nanumround, serif;
    transition: 0.3s;
}

.all_article_box:hover {
    transition: 0.3s;
    transform: translateY(-10px);
    box-shadow: 10px 10px 20px #787878;
}

.article_box_img {
    position: relative;
    width: 100%;
    height: 160px;
}

.article_box {
    padding-right: 15px;
    padding-left: 15px;
}

.article_box_title {
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}

.article_box_bottom{
    margin-top: 40px;
    padding-top: 8px;
    padding-left: 2px;
    font-size: 14px;
    border-top: 1px solid #7f7f7f;
}

.article_box_box {
    display: inline-block;
    position: relative;
    width: 100%;
}

.article_box_tag {
    margin: 0;
    float: left;
}

.article_box_date {
    margin: 0;
    float: right;
}

.article_box_content {
    margin-top: 13px;
}

#content_write {
    width: 900px;
    text-align: center;
    border: none;
    margin: 0 auto;
}

#title {
    width: 900px;
    height: 60px;
    font-size: 40px;
    border: none;
    font-family: NanumSquareEB, serif;
    font-weight: bold;
}

#categories {
    border: none;
    width: 300px;
    height: 30px;
    margin: 0;
    font-size: 20px;
    font-family: NanumSquareB, serif;
}

#title:focus {
    outline: none;
}

#categories:focus {
    outline: none;
}

#contents:focus {
    outline: none;
}

#contents {
    margin-top: 20px;
    width: 900px;
    height: 600px;
    font-size: 18px;
    padding: 10px 10px 10px 10px;
    font-family: NanumSquareR, serif;
}

#contents_write_tag {
    font-size: 20px;
    font-family: NanumSquareEB, serif;
}

#contents_uplaod {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 25px;
    font-family: Roboto, serif, serif;
    font-weight: 400;
    background: none;
    border: none;
    border-bottom: 2px solid #000000;
    cursor: pointer;
    transition: 0.3s;
}

#contents_uplaod:hover {
    padding-bottom: 2px;
    background: none;
    border-color: #2182bf;
    color: #2182bf;
    transition: 0.3s;
}

#board_view_box {
    width: 900px;
    margin: 0 auto;
}


#board_view_title {
    width: 900px;
    font-size: 40px;
    font-family: NanumSquareEB, serif;
}

#board_view_tag {
    width: 900px;
    font-size: 20px;
    font-weight: bold;
    font-family: NanumSquareB, serif;
}

#board_view_content_box {
    width: 900px;
    margin-top: 40px;
}

#board_view_content {
    width: 900px;
    font-family: NanumSquareR, serif;
    font-size: 18px;
}