/*font*/

@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
/*font-family: 'Crete Round', serif;*/

@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
/*font-family: 'Zen Tokyo Zoo', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
/*font-family: 'Varela Round', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400&display=swap');
/*font-family: 'Roboto', sans-serif;*/
/*100,200,300,400*/

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
/*font-family: 'Kaushan Script', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
/*font-family: 'Poiret One', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
/*font-family: 'Otomanopee One', sans-serif;*/

/*나눔 스퀘어*/
@font-face {
    font-family: 'NanumSquareL';
    src: url("/src/font/NanumFontSetup_TTF_SQUARE/NanumSquareL.ttf");
}

@font-face {
    font-family: 'NanumSquareR';
    src: url("/src/font/NanumFontSetup_TTF_SQUARE/NanumSquareR.ttf");
}

@font-face {
    font-family: 'NanumSquareB';
    src: url("/src/font/NanumFontSetup_TTF_SQUARE/NanumSquareB.ttf");
}

@font-face {
    font-family: 'NanumSquareEB';
    src: url("/src/font/NanumFontSetup_TTF_SQUARE/NanumSquareEB.ttf");
}

/*local*/
@font-face {
    font-family: 'NanumSquareL';
    src: url("../font/NanumFontSetup_TTF_SQUARE/NanumSquareL.ttf");
}

@font-face {
    font-family: 'NanumSquareR';
    src: url("../font/NanumFontSetup_TTF_SQUARE/NanumSquareR.ttf");
}

@font-face {
    font-family: 'NanumSquareB';
    src: url("../font/NanumFontSetup_TTF_SQUARE/NanumSquareB.ttf");
}

@font-face {
    font-family: 'NanumSquareEB';
    src: url("../font/NanumFontSetup_TTF_SQUARE/NanumSquareEB.ttf");
}


/*나눔 라운드*/
@font-face {
    font-family: 'nanumround';
    src: url("/src/font/NanumFontSetup_TTF_SQUARE_ROUND/NanumSquareRoundR.ttf");
}

/*local 작업용*/
@font-face {
    font-family: 'nanumround';
    src: url("../font/NanumFontSetup_TTF_SQUARE_ROUND/NanumSquareRoundR.ttf");
}

