/*font*/

@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
/*font-family: 'Crete Round', serif;*/

@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
/*font-family: 'Zen Tokyo Zoo', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
/*font-family: 'Varela Round', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400&display=swap');
/*font-family: 'Roboto', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
/*font-family: 'Kaushan Script', cursive;*/

@font-face {
    font-family: 'nanumround';
    src: url("/src/font/NanumFontSetup_TTF_SQUARE_ROUND/NanumSquareRoundR.ttf");
}

/*local 작업용*/
@font-face {
    font-family: 'nanumround';
    src: url("../font/NanumFontSetup_TTF_SQUARE_ROUND/NanumSquareRoundR.ttf");
}

