html, body {
    /*width: 100%의 여백 없애기 용*/
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px white inset; /* Change the color to your own background color */
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px white inset;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background: #686868;
    border-radius: 5px 5px 5px 5px;
}

body::-webkit-scrollbar-track {
    background: #eaeaea;
}

.message {
    color: #ff0000;
}

#index_box {
    width: 100%;
    height: 100%;
    display: flex;
}

#box_left {
    position: fixed;
    overflow-y: auto;
    width: 350px;
    height: 100%;
    /*border-right: 1px solid #000000;*/
    background: #ffffff;
    transition: 0.3s;
    z-index: 100;
}
#box_left::-webkit-scrollbar {
    width: 5px;
}

#box_left::-webkit-scrollbar-thumb {
    background: #686868;
    border-radius: 5px 5px 5px 5px;
}

#box_left::-webkit-scrollbar-track {
    background: #eaeaea;
}
#box_right {
    flex-grow: 1;
    /*min-width: 1000px;*/
    height: 1800px;
    margin-left: 350px;
    /*border: 1px solid #000000;*/
}

#left_top_title {
    text-align: center;
    font-size: 40px;
}

#left_top_title img {
    margin-top: 20px;
    width: 100px;
    cursor: pointer;
}

#anhye0n {
    font-family: 'Kaushan Script', cursive;
    font-weight: normal;
}

#left_top_title p {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    cursor: pointer;
}

#user_info {
    text-align: left;
    padding-left: 40px;
}

#left_div {
    width: 100%;
}

.left_menu {
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #505050;
}

.left_menu:hover a {
    text-decoration: underline;
    color: #2182bf;
}

.left_menu a {
    color: #505050;
}

#user_info_name {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

#user_info_name span {
    font-size: 23px;
}

#user_info_email {
    margin-top: -10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-left: 3px;
}

#user_logout_edit {
    width: 100%;
    display: flex;
    text-align: center;
    /*border-top: 1px solid #343434;*/
    /*border-bottom: 1px solid #343434;*/
}

.log_button {
    /*flex-grow: 1;*/
    padding-top: 10px;
    padding-bottom: 10px;
    /*background: #e3e3e3;*/
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.log_button:hover {
    background: #2182bf;
    color: #ffffff;
    transition: 0.3s;
}

#user_edit {
    border-left: none;
    border-right: none;

}

#user_logout {
    border-right: none;
}

#search_box {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#search {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    width: 230px;
    height: 40px;
    border: none;
    background: #e3e3e3;
    padding-left: 15px;
    vertical-align: top;
}

#search:focus {
    outline: none;
}

#search_icon {
    margin-bottom: -14px;
    padding-right: 10px;
    padding-left: 10px;
    height: 42px;
    background: #e3e3e3;
}

#box_right_padding {
    padding-left: 20px;
}

#right_title {
    /*font-family: 'Roboto', sans-serif;*/
    font-size: 80px;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    margin-bottom: 50px;
}

#right_content {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 100;
}

#search:focus {
    outline-color: #29aae0;
}

#copyright {
    margin-bottom: 0;
    margin-left: 13px;
}

#box_list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content_box {
    display: inline-block;
    min-width: 700px;
    height: 350px;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: 0.3s;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.content_box:nth-child(1) {
    background: url("../../src/img/list/application-2076445.png") no-repeat center center;
    background-size: cover;
    color: #ffffff;
}

.content_box:nth-child(2) {
    background: url("../../src/img/list/online-3412473_1920.jpg") no-repeat center center;
    background-size: cover;
    color: #ffffff;
}

.content_box:nth-child(3) {
    background: url("../../src/img/list/internet-3116062_1920.jpg") no-repeat center center;
    background-size: cover;
    color: #ffffff;
}

.content_box:nth-child(4) {
    background: url("../../src/img/list/icons-2188729_1920.png") no-repeat center center;
    background-size: cover;
    color: #ffffff;
}

.content_box:nth-child(5) {
    background: url("../../src/img/list/interface-3614766.png") no-repeat center center;
    background-size: cover;
    color: #ffffff;
}

.content_box:before {
    content: "";
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    transition: 0.3s;
}

.content_box:hover:before {
    content: "";
    opacity: 0.65;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    transition: 0.3s;
}

.content_box:hover {
    box-shadow: 10px 10px 20px #868686;
    transition: 0.3s;
    transform: translate(-5px, -5px);
}

.content_box p {
    transition: 0.3s;
    font-family: 'Poiret One', cursive;
    position: relative;
    top: 125px;
    font-size: 30px;
}

.content_box:hover p{
    transform: translate(10px, 10px);
    transition: 0.3s;
}

#left_botton_icon{
    text-align: center;
}

#github_icon{
    font-size: 25px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

#email_icon{
    font-size: 25px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

#menu_open{
    display: none;
    font-size: 30px;
    margin-top: 40px;
    cursor: pointer;
}

#menu_close{
    cursor: pointer;
    display: none;
    font-size: 25px;
}

@media screen and (max-width: 1200px){
    #box_left{
        display: none;
        transition: 0.3s;
    }#menu_close{
         display: inline-block;
     }

    #menu_open{
        display: inline-block;
        padding-left: 40px;

    }
    #right_content {
        padding-left: 40px;
    }
    #box_right{
        margin-left: 0;
    }
    #box_right_padding {
        padding-left: 0;
    }

    #right_title {
        padding-left: 40px;
    }

    #right_content {
        padding-left: 40px;
    }
}