<!DOCTYPE html>
<html lang="en">
<head>
    <% if(locals.user === undefined){ %>
        <script>alert('잘못된 접근입니다.');
            location.href = 'http://anhye0n.me'</script>
    <% }else if (user.id !== 'ajh08070'){ %>
        <script>alert('잘못된 접근입니다.');
            location.href = 'http://anhye0n.me'</script>
    <%} %>
    <meta charset="UTF-8">
    <title>복호화 테스트</title>
</head>
<body>
<form action="/api/admin/decrypto" method="post">
    <p>비밀번호 : <input type="text" name="password" autocomplete="on" placeholder="비밀번호" autofocus></p>
    <p>복호화 값 : <input type="text" name="encrypto" autocomplete="on" placeholder="복호화 값" autofocus></p>
    <button type="submit">확인</button>
</form>
</body>
</html>