<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/src/css/main.css">
    <link rel="stylesheet" href="/src/css/font.css">
    <link rel="stylesheet" href="/src/css/contents.css">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

</head>
<body>
<div id="index_box">
    <%- include('./common/left_menu') %>

    <div id="box_right">
        <div id="box_right_padding">
            <p id="right_title">All Categories</p>
            <p id="right_content">This page shows all categories.</p>
            <div id="box_list">
                <div class="all_article_box" onclick="location.href = 'http://anhye0n.me/contents/all_article'">
                    <img class="article_box_img" src="../../../src/img/diego-ph-5LOhydOtTKU-unsplash2.png" alt="">
                    <div class="article_box">
                        <p class="article_box_title">모든 게시글 보기</p>
                        <div class="article_box_box">
                            <p class="article_box_tag"># 개발</p>
                            <p class="article_box_date">2021-07-15</p>
                        </div>
                        <p class="article_box_content">대한 열락의 평화스러운 위하여서 원대하고, 것이다. 구할 대한 열락의 구하지 아니다. 두기 미인을 싹이 힘있다.
                            끝까지 설산에서 하는 발휘하기 착목한는 것이다. 심장은 이상이 어디 청춘의 새가 미묘한 있으랴? 두손을 무엇을 뛰노는 인간이 않는 교향악이다. 넣는 소리다. 이것은
                            용감하고 수 천자만홍이 아니한 것이다.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/src/js/main.js"></script>
</html>