<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/src/css/main.css">
    <link rel="stylesheet" href="/src/css/font.css">
    <link rel="stylesheet" href="/src/css/contents.css">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

</head>
<body>
<div id="index_box">
    <%- include('../common/left_menu') %>

    <div id="box_right">
        <div id="box_right_padding">
            <p id="right_title">All Categories</p>
            <p id="right_content">This page shows all categories.</p>
            <div id="box_list">
                <% for (i = 0; i < categories.length; i++){ %>
                    <div class="categories_box"
                         style="background: url('/src/img/list/<%= categories[i].thumbnail %>') no-repeat center center; background-size: cover; color: #ffffff;"
                         onclick="location.href = 'http://velog.anhye0n.com/contents/categori_page?categori_name=<%= categories[i].categories %>'">
                        <p><%= categories[i].categories %></p>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/src/js/main.js"></script>
</html>n