<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/src/css/main.css">
    <link rel="stylesheet" href="/src/css/font.css">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
</head>
<body>
<div id="index_box">
    <%- include('./common/left_menu')%>
    <div id="box_right">
        <div id="box_right_padding">
            <p id="right_title">M a i n</p>
            <p id="right_content">ALL Contents</p>
            <div id="box_list">
                <div class="content_box" onclick="location.href = 'http://anhye0n.me/contents/whoami'">
                    <p>Who am <strong>I</strong></p>
                </div>
                <div class="content_box" onclick="location.href = 'http://anhye0n.me/contents/portfolio'">
                    <p>Portfolio</p>
                </div>
                <div class="content_box" onclick="location.href = 'http://anhye0n.me/contents/all_article'">
                    <p>All Article</p>
                </div>
                <div class="content_box" onclick="location.href = 'http://anhye0n.me/contents/all_categories'">
                    <p>All Categories</p>
                </div>
                <div class="content_box" onclick="location.href = 'http://anhye0n.me/contents/site_info'">
                    <p>Site Info.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>