<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../src/css/main.css">
</head>
<body>
<div>
    <h1>Anhye0n.me</h1>
    <h2>boiler-plate</h2>
    <h2>register, login</h2>
    <h3>last-update : 2021-07-11</h3>
    <hr>
    <% if (locals.user){ %>
        E-mail : <%= user.email %>
        <br>
        <%= user.name %>님 반갑습니다.
    <% } %>
    <hr>
    <a href="http://anhye0n.me/user/register">회원가입 페이지</a>
    <br>
    <a href="http://anhye0n.me/user/login">로그인 페이지</a>
    <br>
    <a href="http://anhye0n.me/api/user/logout">로그아웃 페이지</a>
    <br>
    <br>
    <hr>
    <hr>
    <br>
    <h2>관리자 페이지</h2>
    <a href="http://anhye0n.me/admin/decrypto_test">복호화 테스트 페이지</a>
    <br>
    <a href="http://anhye0n.me/admin/auto_increment_reset">auto_increment 초기화 페이지</a>

</div>
</body>
</html>