<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <style>
        .message{
            color: #ff0000;
        }
    </style>
    <% if (locals.id){ %>
        <script>alert('로그인 되었습니다.');
            location.href = 'http://anhye0n.me/';</script>
    <% }else{ %>

    <% } %>
</head>
<body>
<form action="/api/user/login" method="post">
    <table>
        <tr>
            <td>아이디 :</td>
            <td><input type="text" name="id" autocomplete="on" placeholder="아이디"></td>
        </tr>
        <tr>
            <td>비밀번호 :</td>
            <td><input type="password" name="password" autocomplete="on" placeholder="비밀번호"></td>
        </tr>
    </table>
    <button type="submit">로그인</button>
    <section class="message">
        <% if (locals.message) { %>
            <h2><%= message %></h2>
        <% } %>
    </section>
</form>
</body>
</html>