<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <% if (locals.user === undefined){ %>

    <% }else{ %>
    <script>alert('로그인 되었습니다.');
    location.href = 'http://anhye0n.me/';</script>
    <% } %>
    <link rel="stylesheet" href="/src/css/main.css">
    <link rel="stylesheet" href="/src/css/login.css">
    <link rel="stylesheet" href="/src/css/font.css">
    <style>
        input:focus{
            outline: none;
        }
    </style>
</head>
<body>
<div id="login_container">
    <div id="login_box">
        <div class="item">
            <p id="item_welcome">W e l c o m e</p>
            <p class="round-font">A n H y e 0 n . m e</p>
        </div>
        <div class="item">
            <p id="login_title">L O G I N</p>
            <form action="/api/user/login" method="post">
                <table id="form_table">
                    <tr>
                        <td><input type="text" name="id" autocomplete="on" placeholder="ID"></td>
                    </tr>
                    <tr>
                        <td><input type="password" name="password" autocomplete="on" placeholder="Password"></td>
                    </tr>
                    <tr>
                        <td class="login_error"><%= locals.errMsg %></td>
                    </tr>
                </table>
                <button class="login_button" type="submit">L O G I N</button>
                <!--                <section class="message">-->
                <!--                    <% if (locals.errMsg) { %>-->
                <!--                    <h2><%= errMsg %></h2>-->
                <!--                    <% } %>-->
                <!--                </section>-->
            </form>
            <br>
            <hr style="width: 80%">
            <button class="regiser_button" type="button" onclick="location.href = 'http://anhye0n.me/user/register'">R E G I S T E R</button>
        </div>
    </div>
</div>
</body>
</html>