<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인 성공</title>
    <% if (locals.user.id === undefined){ %>
        <script>alert('로그인이 되지 않았습니다.');
            location.href = 'http://velog.anhye0n.com/api/user/login';</script>
    <% }else{ %>

    <% } %>
</head>
<body>
<h1>우왕! 로그인 성공!!!!</h1>
<p>id : <%= locals.user.id %></p>
<p>password : <%= locals.user.password %></p>
<p>email : <%= locals.user.email %></p>
<p>name : <%= locals.user.name %></p>
<br>
<a href="http://velog.anhye0n.com/">메인 페이지</a>
<br>
<a href="http://velog.anhye0n.com/api/user/logout">로그아웃</a>
</body>
</html>