<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <!--<% if (locals.user === undefined){ %>

    <% }else{ %>
    <script>alert('로그인 되었습니다.');
    location.href = 'http://anhye0n.me/';</script>
    <% } %>-->
    <link rel="stylesheet" href="/src/css/main.css">
    <link rel="stylesheet" href="/src/css/font.css">
    <link rel="stylesheet" href="/src/css/login.css">
    <style>

    </style>
</head>
<body>

<div id="login_container">
    <div id="login_box">
        <div id="logo_container">
            <img src="/src/img/favicon.png" alt="">
        </div>
        <div id="welcome_message">
            <p>Welcome!</p>
            <p>Enter your ID and password.</p>
        </div>
        <div class="form_container">
            <form action="/api/user/login" method="post">
                <table id="form_table">
                    <tr>
                        <td><input type="text" name="id" autocomplete="on" placeholder="Enter your ID" autofocus></td>
                    </tr>
                    <tr>
                        <td class="login_error">
                            <% if (locals.errMsg === 'Incorrect ID.') { %>-->
                            <%= errMsg %>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <td><input id="login_password" type="password" name="password" autocomplete="on"
                                   placeholder="Enter your Password"></td>
                    </tr>
                    <tr>
                        <td class="login_error">
                            <% if (locals.errMsg === 'Incorrect password.') { %>-->
                            <%= errMsg %>
                            <% } %>
                        </td>
                    </tr>
                </table>
                <button class="login_button" type="submit">L O G I N</button>
            </form>
            <br>
        </div>
        <div id="go_to_register">
            <p>Don't you have an account? <a href="http://anhye0n.me/register">Go to the Register</a></p>
        </div>
    </div>
</div>
</body>
</html>