<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <% if (sess.user_id !== 0){ %>

    <% }else{ %>
        <script>alert('로그인이 되지 않았습니다.');
            location.href = 'http://anhye0n.me/user/login';</script>
    <% } %>
</head>
<body>
<h1>우왕! 로그인 성공!!!!</h1>
<p><%= sess.user_id %></p>
<p><%= sess.user_email %></p>
<p><%= sess.user_name %></p>
<a href="http://anhye0n.me/api/user/logout">로그아웃</a>
</body>
</html>