<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <% if (locals.user === undefined){ %>

    <% }else{ %>
        <script>alert('로그인 되었습니다.');
            location.href = 'http://anhye0n.me/';</script>
    <% } %>
    <link rel="stylesheet" href="/src/css/main.css">
    <link rel="stylesheet" href="/src/css/register.css">
    <link rel="stylesheet" href="/src/css/font.css">
    <script type="text/javascript">
        function pass_check() {
            var register_form = document.getElementById('register_form');
            var p1 = document.getElementById('pass_check_1').value
            var p2 = document.getElementById('pass_check_2').value
            var btn = document.getElementById('btn')
            if (p1 === p2) {
                // alert('비밀번호가 일치합니다.')
                register_form.submit()
            } else if (p1 !== p2) {
                alert('비밀번호가 일치하지 않습니다.')
            }
        }
    </script>
    <style>
        input:focus {
            outline: none;
        }
    </style>
</head>
<body>
<div id="regi_container">
    <div id="regi_box">
        <div class="item">
            <p id="item_welcome">W e l c o m e</p>
            <p class="round-font">A n H y e 0 n . m e</p>
        </div>
        <div class="item">
            <p id="regi_title">R E G I S T E R</p>
            <form id="register_form" action="/api/user/register" method="post">
                <table id="form_table">
                    <tr>
                        <td><input type="text" name="user_name" placeholder="Name" autocomplete="off"></td>
                    </tr>
                    <tr>
                        <td><input type="email" name="email" placeholder="E-mail" autocomplete="off"></td>
                    <tr>
                        <td class="regi_error"><%= locals.err_email %></td>
                    </tr>
                    </tr>
                    <tr>
                        <td><input type="text" name="id" placeholder="ID" autocomplete="off"></td>
                    </tr>
                    <tr>
                        <td class="regi_error"><%= locals.err_id %></td>
                    </tr>
                    <tr>
                        <td><input type="password" id="pass_check_1" name="password" placeholder="Password"
                                   autocomplete="off"></td>
                    </tr>
                    <tr>
                        <td><input type="password" id="pass_check_2" placeholder="Password 확인" autocomplete="off"></td>
                    </tr>
                </table>
                <button class="regi_button" type="button" onclick="pass_check()">S U B M I T</button>
            </form>
            <hr style="width: 80%">
            <button class="regiser_button" type="button" onclick="location.href = 'http://anhye0n.me/user/login'">L O G
                I N
            </button>
        </div>
    </div>
</div>
</body>
</html>