<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>

    <link rel="stylesheet" href="../../src/css/main.css">

    <script type="text/javascript">
        function pass_check(){
            var register_form = document.getElementById('register_form');
            var p1 = document.getElementById('pass_check_1').value
            var p2 = document.getElementById('pass_check_2').value
            var btn = document.getElementById('btn')
            if( p1 === p2){
                // alert('비밀번호가 일치합니다.')
                register_form.submit()
            }else if(p1 !== p2){
                alert('비밀번호가 일치하지 않습니다.')
            }
        }
    </script>
</head>
<body>
<form id="register_form" action="/api/user/register" method="post">
    <p>이름 : <input type="text" name="user_name" autocomplete="on" placeholder="이름" autofocus></p>
    <p>이메일 : <input type="email" name="email" autocomplete="on" placeholder="이메일"><span class="message"><%= locals.err_email %></span></p>
    <p>아이디 : <input type="text" name="id" autocomplete="on" placeholder="아이디"><span class="message"><%= locals.err_id %></span></p>
    <p>비밀번호 : <input type="password" id="pass_check_1" name="password" autocomplete="on" placeholder="비밀번호"></p>
    <p>비밀번호 확인: <input type="password" id="pass_check_2" autocomplete="on" placeholder="비밀번호"></p>
    <button type="button" onclick="pass_check()">회원가입</button>

</form>
</body>
</html>