<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../src/css/main.css">
    <link rel="stylesheet" href="../../../src/css/font.css">
    <link rel="stylesheet" href="../../../src/css/contents.css">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

</head>
<body>
<div id="index_box">
    <div id="box_left">
        <div id="left_top_title">
            <img src="../../../src/img/logo.png" alt="">
            <p><span id="anhye0n">AnHye0n</span> Blog</p>
        </div>
        <div id="user_info">
            <!--로그인 되면 이름 띄우기-->
            <p id="user_info_name"><span>Guest</span> 님</p>
            <!--로그인 되면 이메일 띄우기-->
            <!--<p id="user_info_email">ajh08070@naver.com</p>-->
            <p id="user_info_email">Welcome AnHye0n blog</p>
        </div>
        <div id="user_logout_edit">
            <!--로그인 안되있을 시 로그인과 회원가입으로-->
            <button id="user_edit" class="log_button" type="button"
                    onclick="location.href='http://anhye0n.me/api/user/register'">REGISTER
            </button>
            <button id="user_logout" class="log_button" type="button"
                    onclick="location.href='http://anhye0n.me/user/login'">LOGIN
            </button>
            <!--            <button id="user_edit" class="log_button" type="button">MY INFO</button>-->
            <!--            <button id="user_logout" class="log_button" type="button"-->
            <!--                    onclick="location.href='http://anhye0n.me/api/user/logout'">LOGOUT
                        </button>-->
            <!--버튼 길이 조정-->
            <script>
                let button_width = document.getElementById('user_logout_edit')
                let division = button_width.offsetWidth / 2

                document.getElementById('user_edit').style.width = division + 'px'
                document.getElementById('user_logout').style.width = division + 'px'
                console.log(button_width.offsetWidth)
            </script>
        </div>
        <div id="left_div">
            <ul>
                <li class="left_menu"><a href="http://anhye0n.me/contents/whoami"><p>Who am <strong>I</strong></p></a>
                </li>
                <li class="left_menu"><a href="http://anhye0n.me/contents/portfolio">Portfolio</a></li>
                <li class="left_menu"><a href="http://anhye0n.me/contents/all_article">All Ariticle</a></li>
                <li class="left_menu"><a href="http://anhye0n.me/contents/all_categories">All Categories</a></li>
                <li class="left_menu"><a href="http://anhye0n.me/contents/site_info">Site Info.</a></li>
                <li class="left_menu"><a href="http://anhye0n.me:8070">다른 링크(쇼핑몰)</a></li>
            </ul>
        </div>

        <hr style="width: 60%; height:0; border:0; border-top:1px solid #c2c2c2;">

        <div id="search_box">
            <input type="text" id="search" placeholder="Search"><i id="search_icon" class="fas fa-search"></i>
        </div>
        <hr style="width: 60%; height:0; border:0; border-top:1px solid #c2c2c2;">
        <ul>
            <li class="left_menu"><a style="font-family: 'nanumround', serif; font-weight: bold;"
                                             href="http://anhye0n.me/contents/board_write">글 작성하기</a></li>
        </ul>

        <div id="left_botton_icon">
            <i id="github_icon" class="fab fa-github" onclick="window.open('https://github.com/AnHye0n')"></i>
            <i id="email_icon" class="far fa-envelope" title="ajhrc08070@gmail.com"></i>
        </div>
        <p id="copyright">© 2021. AnJeongHyeon All rights reserved.</p>
    </div>
    <div id="box_right">
        <div id="box_right_padding">
            <p id="right_title">Board Write</p>
            <p id="right_content">This page is where you write.</p>
            <form id="content_write" action="/api/user/board_write" method="post">
                <div>
                    <input type="text" id="title" name="title" placeholder="제목" autofocus required>
                </div>
                <hr style="width: 70px; border: 3px solid #555555; margin-left: 2px; margin-bottom: 20px">
                <div style="text-align: left">
                    <select name="categories" id="categories">
                        <option value="none" selected disabled hidden>태그를 선택하세요.</option>
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </div>
                <div>
                    <textarea id="contents" name="contents" cols="111" rows="40" placeholder="내용을 작성하세요." required></textarea>
                </div>
                <button type="submit" id="contents_uplaod">upload</button>
            </form>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="../../../src/js/main.js"></script>
</html>