<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../src/css/main.css">
    <link rel="stylesheet" href="../../../src/css/font.css">
    <link rel="stylesheet" href="../../../src/css/contents.css">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

</head>
<body>
<div id="index_box">
    <div id="box_left">
        <div id="left_top_title">
            <img src="../../../src/img/logo.png" alt="">
            <p><span id="anhye0n">AnHye0n</span> Blog</p>
        </div>
        <div id="user_info">
            <p id="user_info_name"><span><%= user.name %></span> 님</p>
            <p id="user_info_email"><%= user.email %></p>
        </div>
        <div id="user_logout_edit">

            <button id="user_edit" class="log_button" type="button"
                    onclick="location.href='http://velog.anhye0n.com/user/register'">REGISTER
            </button>
            <button id="user_logout" class="log_button" type="button"
                    onclick="location.href='http://velog.anhye0n.com/user/login'">LOGIN
            </button>
            <!--버튼 길이 조정-->

            <script>
                let button_width = document.getElementById('user_logout_edit')
                let division = button_width.offsetWidth / 2

                document.getElementById('user_edit').style.width = division + 'px'
                document.getElementById('user_logout').style.width = division + 'px'
                console.log(button_width.offsetWidth)
            </script>
        </div>
        <div id="left_div">
            <ul>
                <li class="left_menu"><a href="http://velog.anhye0n.com/contents/whoami"><p>Who am <strong>I</strong></p></a>
                </li>
                <li class="left_menu"><a href="http://velog.anhye0n.com/contents/portfolio">Portfolio</a></li>
                <li class="left_menu"><a href="http://velog.anhye0n.com/contents/all_article">All Ariticle</a></li>
                <li class="left_menu"><a href="http://velog.anhye0n.com/contents/all_categories">All Categories</a></li>
                <li class="left_menu"><a href="http://velog.anhye0n.com/contents/site_info">Site Info.</a></li>
                <li class="left_menu"><a href="http://velog.anhye0n.com:8070">다른 링크(쇼핑몰)</a></li>
            </ul>
        </div>

        <hr style="width: 60%; height:0; border:0; border-top:1px solid #c2c2c2;">

        <div id="search_box">
            <input type="text" id="search" placeholder="Search"><i id="search_icon" class="fas fa-search"></i>
        </div>
        <hr style="width: 60%; height:0; border:0; border-top:1px solid #c2c2c2;">
        <ul>
            <li class="left_menu"><a style="font-family: 'nanumround', serif; font-weight: bold;"
                                     href="http://velog.anhye0n.com/contents/board_write">글 작성하기</a></li>
        </ul>

        <div id="left_botton_icon">
            <i id="github_icon" class="fab fa-github" onclick="window.open('https://github.com/AnHye0n')"></i>
            <i id="email_icon" class="far fa-envelope" title="ajhrc08070@gmail.com"></i>
        </div>
        <p id="copyright">© 2021. AnJeongHyeon All rights reserved.</p>
    </div>
    <div id="box_right">
        <div id="box_right_padding">
            <p id="right_title">Board</p>
            <p id="right_content">2021-07-15</p>
            <div id="board_view_box">
                <p id="board_view_title">감사합니다</p>
                <hr style="width: 70px; border: 3px solid #555555; margin-left: 2px; margin-bottom: 20px">

                <p id="board_view_tag"># 낙서</p>
                <div id="board_view_content_box">
                    <p id="board_view_content">동해물과 백두산이</p>
                </div>
                <a href="#">수정</a>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="../../../src/js/main.js"></script>
</html>