<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../src/css/main.css">
    <link rel="stylesheet" href="../../../src/css/font.css">
    <link rel="stylesheet" href="../../../src/css/contents.css">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

</head>
<body>
<div id="index_box">
    <div id="box_left">
        <div id="left_top_title">
            <img src="../../../src/img/logo.png" alt="">
            <p><span id="anhye0n">AnHye0n</span> Blog</p>
        </div>
        <div id="user_info">
            <!--로그인 되면 이름 띄우기-->
            <p id="user_info_name"><span>Guest</span> 님</p>
            <!--로그인 되면 이메일 띄우기-->
            <!--<p id="user_info_email">ajh08070@naver.com</p>-->
            <p id="user_info_email">Welcome AnHye0n blog</p>
        </div>
        <div id="user_logout_edit">
            <!--로그인 안되있을 시 로그인과 회원가입으로-->
            <button id="user_edit" class="log_button" type="button"
                    onclick="location.href='http://velog.anhye0n.com/api/user/register'">REGISTER
            </button>
            <button id="user_logout" class="log_button" type="button"
                    onclick="location.href='http://velog.anhye0n.com/user/login'">LOGIN
            </button>
            <!--            <button id="user_edit" class="log_button" type="button">MY INFO</button>-->
            <!--            <button id="user_logout" class="log_button" type="button"-->
            <!--                    onclick="location.href='http://velog.anhye0n.com/api/user/logout'">LOGOUT
                        </button>-->
            <!--버튼 길이 조정-->
            <script>
                let button_width = document.getElementById('user_logout_edit')
                let division = button_width.offsetWidth / 2

                document.getElementById('user_edit').style.width = division + 'px'
                document.getElementById('user_logout').style.width = division + 'px'
                console.log(button_width.offsetWidth)
            </script>
        </div>
        <div id="left_div">
            <ul>
                <li class="left_menu"><a href="http://velog.anhye0n.com/contents/whoami"><p>Who am <strong>I</strong></p></a>
                </li>
                <li class="left_menu"><a href="http://velog.anhye0n.com/contents/portfolio">Portfolio</a></li>
                <li class="left_menu"><a href="http://velog.anhye0n.com/contents/all_article">All Ariticle</a></li>
                <li class="left_menu"><a href="http://velog.anhye0n.com/contents/all_categories">All Categories</a></li>
                <li class="left_menu"><a href="http://velog.anhye0n.com/contents/site_info">Site Info.</a></li>
                <li class="left_menu"><a href="http://velog.anhye0n.com:8070">다른 링크(쇼핑몰)</a></li>
            </ul>
        </div>

        <hr style="width: 60%; height:0; border:0; border-top:1px solid #c2c2c2;">

        <div id="search_box">
            <input type="text" id="search" placeholder="Search"><i id="search_icon" class="fas fa-search"></i>
        </div>
        <hr style="width: 60%; height:0; border:0; border-top:1px solid #c2c2c2;">
        <ul>
            <li class="left_menu"><a style="font-family: 'nanumround', serif; font-weight: bold;"
                                     href="http://velog.anhye0n.com/contents/board_write">글 작성하기</a></li>
        </ul>

        <div id="left_botton_icon">
            <i id="github_icon" class="fab fa-github" onclick="window.open('https://github.com/AnHye0n')"></i>
            <i id="email_icon" class="far fa-envelope" title="ajhrc08070@gmail.com"></i>
        </div>
        <p id="copyright">© 2021. AnJeongHyeon All rights reserved.</p>
    </div>
    <div id="box_right">
        <div id="box_right_padding">
            <p id="right_title">Edit Categori</p>
            <p id="right_content">This page can you to add and delete categories.</p>
            <p id="right_content_errmsg">ㅁㄴㅇㄹ</p>

            <div id="edit_categori_box">
                <div id="edit_categori_left">
                    <p id="edit_categori_left_titile"># 카테고리 제거</p>
                    <hr style="width: 70px; border: 3px solid #555555; margin-left: 2px; margin-top: 0;margin-bottom: 20px">
                    <ul>
                        <li>
                            <button onclick="location.href='http://velog.anhye0n.com/api/user/del_categori?categori_name=asdf'">x</button>
                            <p>개발</p>
                        </li>
                        <li>
                            <button>x</button>
                            <p>개발</p>
                        </li>
                        <li>
                            <button>x</button>
                            <p>개발</p>
                        </li>
                    </ul>
                </div>
                <div id="edit_categori_right">
                    <form id="add_categori" action="/api/user/add_categori" method="post">
                        <input type="text" id="edit_categori_right_title" name="title" placeholder="# 카테고리 추가" autofocus
                               required>
                        <hr style="width: 70px; border: 3px solid #555555; margin-left: 2px; margin-bottom: 20px">

                        <div>
                            <input placeholder="대표 이미지" type="file" id="edit_categori_right_contents">
                        </div>
                        <button type="button" id="edit_categori_right_uplaod">upload</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="../../../src/js/main.js"></script>
</html>