<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../src/css/main.css">
    <link rel="stylesheet" href="../../../src/css/font.css">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
</head>
<body>
<div id="index_box">
    <!--    <h1>Anhye0n.me</h1>
        <a href="http://anhye0n.me/user/register.html">회원가입 페이지</a>
        <br>
        <a href="http://anhye0n.me/user/login.html">로그인 페이지</a>
        <br>
        <br>
        <hr>
        <hr>
        <br>
        <h2>관리자 페이지</h2>
        <a href="http://anhye0n.me/admin/decrypto_test.html">복호화 테스트 페이지</a>
        <br>
        <a href="http://anhye0n.me/admin/auto_increment_reset.html">auto_increment 초기화 페이지</a>-->
    <div id="box_left">
        <div id="left_top_title">
            <img src="../../../src/img/logo.png" alt="">
            <p><span id="anhye0n">AnHye0n</span> Blog</p>
        </div>
        <div id="user_info">
            <!--로그인 되면 이름 띄우기-->
            <p id="user_info_name"><span>Guest</span> 님</p>
            <!--로그인 되면 이메일 띄우기-->
            <!--<p id="user_info_email">ajh08070@naver.com</p>-->
            <p id="user_info_email">Welcome AnHye0n blog</p>
        </div>
        <div id="user_logout_edit">
            <!--로그인 안되있을 시 로그인과 회원가입으로-->
            <!--<button id="user_logout" class="log_button" type="button" onclick="location.href='http://anhye0n.me/api/user/register'">REGISTER</button>
            <button id="user_logout" class="log_button" type="button" onclick="location.href='http://anhye0n.me/user/login'">LOGIN</button>-->
            <button id="user_logout" class="log_button" type="button"
                    onclick="location.href='http://anhye0n.me/api/user/logout'">LOGOUT
            </button>
            <button id="user_edit" class="log_button" type="button">MY INFO</button>
        </div>
        <div id="left_div">
            <ul>
                <li class="left_menu"><a href="">My Info.</a></li>
                <li class="left_menu"><a href="">Portfolio</a></li>
                <li class="left_menu"><a href="">All Ariticle</a></li>
                <li class="left_menu"><a href="">All Categories</a></li>
                <li class="left_menu"><a href="">Site Info.</a></li>
                <li class="left_menu"><a href="http://anhye0n.me:8070">다른 링크(쇼핑몰)</a></li>
            </ul>
        </div>

        <hr style="width: 60%; height:0; border:0; border-top:1px solid #c2c2c2;">

        <div id="search_box">
            <input type="text" id="search" placeholder="Search"><i id="search_icon" class="fas fa-search"></i>
        </div>
        <hr style="width: 60%; height:0; border:0; border-top:1px solid #c2c2c2;">
        <ul>
            <li class="left_menu"><a style="font-family: 'nanumround', serif; font-weight: bold;"
                                     href="http://anhye0n.me/admin/">Admin Page</a></li>
        </ul>
        <p id="copyright">© 2021. AnJeongHyeon All rights reserved.</p>
    </div>
    <div id="box_right">
        <p id="right_title">dfasdfasf</p>
        <p id="right_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam at autem cumque dolorem
            eligendi est ipsum
            iusto labore laborum natus perferendis, quaerat reiciendis sint unde vel veniam vitae voluptate
            voluptatum!</p>
    </div>
</div>
</body>
</html>