<div id="box_left">
    <div id="left_top_title">
        <p><i id="menu_close" class="fas fa-times" onclick="menu_close()"></i></p>
        <img src="/src/img/logo.png" alt="" onclick="location.href='http://velog.anhye0n.com'">
        <p onclick="location.href='http://velog.anhye0n.com'"><span id="anhye0n">AnHye0n</span> Blog</p>
    </div>
    <div id="user_info">
        <% if (locals.user){ %>
            <p id="user_info_name"><span><%= user.name %></span> 님</p>
            <p id="user_info_email"><%= user.email %></p>
        <% }else{ %>
            <p id="user_info_name"><span>Guest</span> 님</p>
            <p id="user_info_email">Welcome AnHye0n blog</p>
        <% } %>
    </div>
    <div id="user_logout_edit">
        <% if (locals.user){ %>
            <button id="user_edit" class="log_button" type="button"
                    onclick="location.href='http://velog.anhye0n.com/user/my_info'">MY INFO
            </button>
            <button id="user_logout" class="log_button" type="button"
                    onclick="location.href='http://velog.anhye0n.com/api/user/logout'">LOGOUT
            </button>
        <% } else{ %>
            <button id="user_edit" class="log_button" type="button"
                    onclick="location.href='http://velog.anhye0n.com/user/register'">REGISTER
            </button>
            <button id="user_logout" class="log_button" type="button"
                    onclick="location.href='http://velog.anhye0n.com/user/login'">LOGIN
            </button>
        <% } %>
        <!--버튼 길이 조정-->

        <script>
            let button_width = document.getElementById('user_logout_edit')
            //let division = button_width.offsetWidth / 2
            let division = 350 / 2

            document.getElementById('user_edit').style.width = division + 'px'
            document.getElementById('user_logout').style.width = division + 'px'
            console.log(button_width.offsetWidth)
        </script>
    </div>
    <div id="left_div">
        <ul>
            <li class="left_menu"><a href="http://velog.anhye0n.com/contents/whoami"><p>Who am <strong>I</strong></p>
                </a>
            </li>
            <li class="left_menu"><a href="http://velog.anhye0n.com/contents/portfolio">Portfolio</a></li>
            <li class="left_menu"><a href="http://velog.anhye0n.com/contents/all_article">All Ariticle</a></li>
            <li class="left_menu"><a href="http://velog.anhye0n.com/contents/all_categories">All Categories</a></li>
            <li class="left_menu"><a href="http://velog.anhye0n.com/contents/site_info">Site Info.</a></li>
            <!--<li class="left_menu"><a href="http://velog.anhye0n.com:8070">다른 링크(쇼핑몰)</a></li>-->
        </ul>
    </div>
    <hr style="width: 60%; height:0; border:0; border-top:1px solid #c2c2c2;">

    <div id="search_box">
        <input type="text" id="search" placeholder="Search"><i id="search_icon" class="fas fa-search"></i>
    </div>
    <% if (locals.user){ %>
        <% if (user.id !== 'ajh08070'){ %>
            <hr style="width: 60%; height:0; border:0; border-top:1px solid #c2c2c2;">
            <ul>
                <li class="left_menu"><a style="font-family: 'nanumround', serif; font-weight: bold;"
                                         href="http://velog.anhye0n.com/contents/board_write">글 작성하기</a></li>
                <li class="left_menu"><a style="font-family: 'nanumround', serif; font-weight: bold;"
                                         href="http://velog.anhye0n.com/contents/edit_categori">카테고리 수정</a></li>
            </ul>
        <% }else if (user.id === 'ajh08070'){ %>
            <hr style="width: 60%; height:0; border:0; border-top:1px solid #c2c2c2;">
            <ul>
                <li class="left_menu"><a style="font-family: 'nanumround', serif; font-weight: bold;"
                                         href="http://velog.anhye0n.com/admin/">Admin Page</a></li>
                <li class="left_menu"><a style="font-family: 'nanumround', serif; font-weight: bold;"
                                         href="http://velog.anhye0n.com/contents/board_write">글 작성하기</a></li>
                <li class="left_menu"><a style="font-family: 'nanumround', serif; font-weight: bold;"
                                         href="http://velog.anhye0n.com/contents/edit_categori">카테고리 수정</a></li>
            </ul>
        <% } %>
    <% } %>

    <div id="left_botton_icon">
        <i id="github_icon" class="fab fa-github" onclick="window.open('https://github.com/AnHye0n')"></i>
        <i id="email_icon" class="far fa-envelope" title="ajhrc08070@gmail.com"></i>
    </div>

    <p id="copyright">© 2021. AnJeongHyeon All rights reserved.</p>
</div>